<div style="height: 100vh;">
<p>
  formulario works!
</p>

<!-- <ion-input [(ngModel)]="nPel"></ion-input> -->
<!-- <div>
  <h1><b>FORMS</b></h1>
    <ion-label>Nombre de la Pelicula</ion-label>
    <ion-input [formControl]="nPel" placeholder="Inserta Aqui el nombre de la pelicula"></ion-input>
    <ion-label>Año de Lanzamiento</ion-label>
    <ion-input [formControl]="date" placeholder="Inserta Aqui el año de lanzamiento"></ion-input>
    <ion-label>Nombre del Productor</ion-label>
    <ion-input [formControl]="nProd" placeholder="Inserta Aqui el nombre del productor"></ion-input>
    <ion-label>Casa productora</ion-label>
    <ion-input [formControl]="cProd" placeholder="Inserta Aqui la Casa Productora"></ion-input>
    <ion-label>Protagonista</ion-label>
    <ion-input [formControl]="prot" placeholder="Inserta Aqui el nombre del Protagonista"></ion-input><br><br>
    <button type="button" class="btn btn-danger" (click)="add()">Enviar</button><br>
  
    <table>
      <tr>
        <th><b>Nombre Pelicula</b></th>
        <th><b>Año de Lanzamiento</b></th>
        <th><b>Nombre del Productor</b></th>
        <th><b>Casa Productora</b></th>
        <th><b>Protagonista</b></th>
      </tr>
      <tbody>
        <tr *ngFor="let val of list">
          <td>{{val.nPel}}</td>
          <td>{{val.date}}</td>
          <td>{{val.nProd}}</td>
          <td>{{val.cProd}}</td>
          <td>{{val.prot}}</td>
        </tr>
      </tbody>
    </table>
  </div> -->


<!-- <ion-label>Nombre de la Pelicula</ion-label>
<ion-input [(ngModel)]="nPel.value" placeholder="Inserta Aqui el nombre de la pelicula"></ion-input>
<ion-label>Año de Lanzamiento</ion-label>
<ion-input [(ngModel)]="date.value" placeholder="Inserta Aqui el año de lanzamiento"></ion-input>
<ion-label>Nombre del Productor</ion-label>
<ion-input [(ngModel)]="nProd.value" placeholder="Inserta Aqui el nombre del productor"></ion-input>
<ion-label>Casa productora</ion-label>
<ion-input [(ngModel)]="cProd.value" placeholder="Inserta Aqui la Casa Productora"></ion-input>
<ion-label>Protagonista</ion-label>
<ion-input [(ngModel)]="prot.value" placeholder="Inserta Aqui el nombre del Protagonista"></ion-input><br><br>
<p>{{nPel.value}}</p><br>
<p>{{date.value}}</p><br>
<p>{{nProd.value}}</p><br>
<p>{{cProd.value}}</p><br>
<p>{{prot.value}}</p><br> -->



<!-- <label>Nombre de la Pelicula</label>
<input [(ngModel)]="nPel.value" placeholder="Inserta Aqui el nombre de la pelicula">
<label>Año de Lanzamiento</label>
<input [(ngModel)]="date.value" placeholder="Inserta Aqui el año de lanzamiento">
<label>Nombre del Productor</label>
<input [(ngModel)]="nProd.value" placeholder="Inserta Aqui el nombre del productor">
<label>Casa productora</label>
<input [(ngModel)]="cProd.value" placeholder="Inserta Aqui la Casa Productora">
<label>Protagonista</label>
<input [(ngModel)]="prot.value" placeholder="Inserta Aqui el nombre del Protagonista"><br><br>
<p>{{nPel.value}}</p><br>
<p>{{date.value}}</p><br>
<p>{{nProd.value}}</p><br>
<p>{{cProd.value}}</p><br>
<p>{{prot.value}}</p><br> -->

</div>